<div>
  <p>欢迎您加入四川生产服务网，请妥善保管好您的帐号信息</p><br />
  <p>用户名：<%= login %>　</p><br />
  <p>密码：　<%= password %></p><br />
  <p>如果忘记密码，可以到网站找回密码，也可以写信请管理员重新设定。</p>
  <a href="http://www.scscfw.com/">网站地址</a> ：http://www.scscfw.com/
</div>