<div>
  <p>尊敬的用户，您好：</p>
  <p>您在四川生产服务网用户管理中心请求的重置密码邮件， 请您尽快点击以下链接进行密码重置</p>
  <a href="<%=Settings.site_host%>/users/set_new_password/?token=<%=token%>&login=<%=login%>">修改链接</a>

  <a href="http://www.scscfw.com/">网站地址</a> ：http://www.scscfw.com/


</div>
