#content{margin-top: 10px;}
#footer{margin-top:20px;padding:5px 10px;border-top: 1px solid #D2E1F1;}
.fcopyright {margin:10px auto;}
.fcopyright p{margin:5px 0;}

/* public*/
.width4 {width:40px;}

/*scscfw-footer*/
.footer_bar{margin:10px 0;text-align: center;}
.footer_bar a{background: url("footer_bar.jpg") no-repeat;padding-left: 20px;margin-right: 20px;}
.f-police{background-position: ;}
.f-info{background-position:0 -20px !important;}
.f-manage{background-position:0 -37px !important;}
.f-internet{background-position:0 -57px !important;}

/*header*/
.top-bar{height:50px;line-height:50px;overflow: hidden;}
#header a:hover{text-decoration: none;color: #0088cc !important;}
.navbar-inner{padding:0;}


.navbar .brand{font-size: 16px;margin-left: 0;}