#content{margin-top: 10px;}
#footer{margin-top:20px;padding:5px 10px;border-top: 1px solid #D2E1F1;}
.fcopyright {margin:10px auto;}
.fcopyright p{line-height:23px;}

/*scscfw-footer*/
.footer_bar{width:480px;margin: 10px auto 15px;}
.footer_bar a{background: url("footer_bar.jpg") no-repeat;display: block;float: left;padding-left: 20px;margin-right: 20px;height:18px;line-height: 18px;}
.f-police{background-position: ;}
.f-info{background-position:0 -18px !important;}
.f-manage{background-position:0 -36px !important;}
.f-internet{background-position:0 -54px !important;}

/*header*/
.top-bar{height:50px;line-height:50px;overflow: hidden;}
#header a:hover{text-decoration: none;color: #0088cc !important;}